


	<%- include("./partials/header.ejs") %>
	<div class="fullindex">
        <h2><%- blog.marca	%></h2>
        <p><%- blog.modelo	%></p>
        <p><%- blog.cilindrada	%></p>
        <p><%- blog.combustible	%></p>
       	</div>
	<%- include("./partials/footer.ejs") %>