<%- include('./partials/header.ejs') %>
<main>
    <section>


        <% if (posts.length > 0) { %>
            <div class="posts">
            <% posts.forEach(post => { %>
                <div class="post">
                    <p class="title"><%= post.title %></p>
                    <p class="snippet"><%= post.snippet %></p>
                    <a href="<%= "/fullindex/"+post._id %>">View Post</a>
                </div>
            <% }) %>
            </div>


            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>

        </div>


    </section>
</main>
<%- include('./partials/footer.ejs') %>