<%- include('./partials/header.ejs') %>
<main>
    <section>


        <%- include("./partials/nav.ejs") %>
        <h2>Posts</h2>
        <% if (posts.length > 0) { %>
            <div class="posts">
            <% posts.forEach(post => { %>
                <div class="post">
                    <p class="title"><%= post.title %></p>
                    <p class="snippet"><%= post.snippet %></p>
                    <a href="<%="/full-post/"+post._id %>">View Post</a>
                </div>
            <% }) %>
            </div>
        <% } else { %>
        <p>There are no posts to display...</p>
        <% } %>
        </div>
        <%- include("./partials/footer.ejs") %>
<%- include('./partials/footer.ejs') %>