<%- include('./partials/header.ejs') %>
<main>
    <section>



        <div class="blogs content">
            <h2>Todos los Coches</h2>
            <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

            <h3 class="title"><%= blog.marca %></h3>
            <ol>

                <li>< name=<%= blog.marca %>>
                    <label for="modelo"> <%= blog.modelo %> </label></li>
                <li>< name=<%= blog.marca %>>
                    <label for="cilindrada"> <%= blog.cilindrada %> </label></li>
                <li>< name=<%= blog.marca %>>
                    <label for="combustible"> <%= blog.combustible %> </label></li>
              



            </ol>



            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>

        </div>


    </section>
</main>
<%- include('./partials/footer.ejs') %>