<%- include('./partials/header.ejs') %>
<main>
    <section>


        <% if (blogs.length > 0) { %>
            <div class="blog">
            <% blogs.forEach(blog => { %>
                <div class="blog">
                    <p class="marca"><%= blog.marca %></p>
                    <p class="modelo"><%= blog.modelo %></p>
                    <a href="<%= "/fullindex/"+blog._id %>">View Post</a>
                </div>
            <% }) %>
            </div>


            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>

        </div>


    </section>
</main>
<%- include('./partials/footer.ejs') %>